.volume-slider {
    appearance: none;
    width: 120px;
    height: 6px;
    background-color: rgb(229 231 235);
    border-radius: 5px;
}

.volume-slider::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 5px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-color: rgb(59 130 246);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}