@mixin center {
    justify-content: center;
    align-items: center;
}

@mixin flex-dir($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}