@use 'mixins';
@use 'variables';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* header | main | footer */
    background: var(--color-body-bg);
    font-family: var(--font-main);
}

header,
footer {
    background: var(--color-header-footer-bg);
    color: var(--color-header-footer-text);
    padding: var(--padding-small);
    text-align: center;
}

.navegacion {
    display: flex;
    flex-direction: row;
    @include mixins.center;
    gap: 15px;
}

main {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

    >div:nth-child(1) {
        background: var(--color-section-1);
        padding: var(--padding-medium);
    }

    >div:nth-child(2) {
        background: var(--color-section-2);
        padding: var(--padding-medium);
        display: grid;
        grid-template-columns: 1fr 4fr;

        >div:nth-child(1) {
            background: var(--color-section-2a);
            padding: var(--padding-medium);
        }

        >div:nth-child(2) {
            background: var(--color-section-2b);
            padding: var(--padding-medium);
            display: grid;
            grid-template-rows: auto auto;

            >div:nth-child(1) {
                background: var(--color-section-2b1);
                padding: var(--padding-medium);
            }

            >div:nth-child(2) {
                background: var(--color-section-2b2);
                padding: var(--padding-medium);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                @include mixins.center;
            }
        }
    }

    >div:nth-child(3) {
        background: var(--color-section-3);
        padding: var(--padding-medium);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include mixins.center;
    }
}

.marco {
    border: var(--marco-border);
    margin: var(--marco-margin);
    padding: var(--marco-padding);
    text-align: center;
}

.testimonio {
    @extend .marco;
    background: var(--color-section-2);
}

.producto {
    @extend .marco;
    background: var(--color-section-1);
}