:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #252525;
    color: #f0f0f0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 5px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #ea005e;
    color: white;
    font-weight: 500;
}

button:hover {
    background-color: #a70043;
}

label {
    display: flex;
    align-items: center;
    gap: 6px;
}

#speed-range {
    width: 150px;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #444;
    background-color: #111;
}

.hint {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #bbbbbb;
}